<div class="navbar shadow d-flex text-center p-0 flex-column bg-success bg-gradient">
    <div class="jumbotron">
        <h1 id="text3d" class="mb-2">Meal Xplorer</h1>
        <p class="lead text-dark">Find your favorite meal</p>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="card w-50 shadow p-5">
        <div class="card-body">
            <div class="row m-2 justify-content-center">
                <div class="col-md-12">
                  <form class="d-flex">
                    <div class="form-group w-100">
                      <input type="text" class="form-control" placeholder="Enter your meal name">
                    </div>
                    <button type="submit" class="btn btn-primary mx-2 w-25">Find</button>
                  </form>
                </div>
              </div>
        </div>
    </div>
  </div>
  